<div>
  <% @response.each do |response| %>
    <p>
      <h1><%= response["url"] %></h1>
      State: <%= response["state"] %><br />
      Title: <%= response["title"] %> <br />
      User: <%= response["user"]["login"] %>
    </p>
  <% end %>
</div>

